.chart-content
{
  margin-bottom: 20px;
}

.chart-container
{
  margin: 20px;
  background-color: #CBD5E0;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

::ng-deep  .mat-form-field-flex
 {
   background: transparent;
   padding: 0;
 }
