<section class="chart-content">
  <div class="main-header">
    <h1>Chart</h1>
    <div class="chart-selector">

      <mat-form-field >
        <mat-select [placeholder]='"select"' name="cell" (selectionChange)='selectCellChart($event.value)'>
          <mat-option value="SelectAll">Display all</mat-option>
          <mat-option *ngFor="let item of cells" [value]="item.id">
            Cell {{item.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="chart-container">
    <div *ngIf="!this.cellData" class="chart-empty-message">
      <p>please Select Cell to draw the chart</p>
    </div>
    <app-chart *ngIf="this.cellData && !selectAllMode" [GraphData]='this.cellData'></app-chart>
    <app-combined-chart *ngIf="selectAllMode" [GraphData]='this.allCellsData'></app-combined-chart>
  </div>
</section>
