.chart-container
{
  margin: 30px;
  background-color: #CBD5E0;
  min-height: 50vh;
}

.main-header
 {
  background-color: #CBD5E0;
  padding: 20px;
  color: rgb(46, 46, 46);
  display: flex;
 justify-content: space-between;
 }
