.about-content {
  color: #2f2f2f;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-transform: initial;
  padding: 20px;
}
.note{
  color:red;
}
