<section class="container">
  <div class="main-header">
    <h1>About</h1>
  </div>
  <div class="about-content">
    <p>Simple App for view list of batteries consumption by implementing graph for each battery using list of
      temperature sensors data.</p>
    <br>
    <b>Structure of the App</b>
    <ul>
      <li>Chart view module : Show the list of the graphs sperated or compined.</li>
      <li>About module : Simple text realted to the app.</li>
      <li>Shared components : header,footer and companey logo.</li>
    </ul>
    <br>
    <b>Code challeng</b>
    <p> updating the chart data by select the battery, i was thinking about two approches</p>
    <ul>
      <li>First: creating the chart component dynamicaly and update the data in the runtime.</li>
      <li>Second: using (onChanges) method for detect the changes in the date and update the Chart implemetion
      </li>
      <h5><b>i have used the second approch because it's simpler and direct</b></h5>
    </ul>
    <p class="note">Note: UI and strutuctre coulde be enhanced more but i have stricted to the time and scope
      like:
    </p>

    <ul>
      <li>Adding helper functions and variables.</li>
      <li>Creat common and shared module and lazy loaded.</li>
      <li>Adding states for empty and error cases.</li>
      <li>Unit Testing.</li>
    </ul>
    <br>
    <b>Estimated Hours : Pure 6 hours</b>


    <br>
    <br>
  </div>

</section>
