.container-app {
  background-color: #edf2f7;
  .content {
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;

    .left-sidebar {
      order: 1;
      flex: 1;
      .sidenav {
        width: 250px;
        background: white;
        overflow-x: hidden;
        padding: 0 0;
        margin: 0;
      }
      .sidenav li {
        padding: 20px;
        text-decoration: none;
        font-size: 16px;
        color: black;
        display: block;
        cursor: pointer;
      }
      .sidenav li:hover {
        color: #064579;
        background-color: #cbd5e0;
      }
    }
    .main-content {
      background-color: white;
      flex: 4;
      order: 2;
      min-height: 80vh;
      border: 1px solid gray;
    }
  }
}

.main-header,
.sidenav li:first-child {
  background-color: #cbd5e0;
  padding: 20px;
  color: rgb(46, 46, 46);
}
